# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Matt Christensen\Dropbox\BYU\8. Winter 2021\CS 312 - Martinez, Tony R\Network Router\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
